server {
    server_name ringelrobbe.xyz www.ringelrobbe.xyz;

    root /www/ringelrobbe;

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/ringelrobbe.xyz/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/ringelrobbe.xyz/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    error_page 404 /404.html;

    add_header Strict-Transport-Security max-age=63072000 always;
    add_header Content-Security-Policy "default-src 'none';
                                        style-src 'self' https://fonts.googleapis.com;
                                        font-src https://fonts.gstatic.com;
                                        img-src 'self';
                                        manifest-src 'self';
                                        frame-src https://bandcamp.com;";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options DENY;
}

server {
    server_name ringelrobbe.xyz www.ringelrobbe.xyz;

    listen 80;

    return 301 https://$host$request_uri;
}
