---
layout: default
german_column_title: Die deuschen Übersetzungen
russian_column_title: Переводы на русский
---

<div class="container">
  <div class="columns">
    <div class="col-half">
      <h2 class="articles-list-title title">
        {{ page.german_column_title }}
      </h2>
    </div>
    <div class="col-half">
      <h2 class="articles-list-title title">
        {{ page.russian_column_title }}
      </h2>
    </div>
  </div>

  <div class="columns">
    <div class="col-half articles-list">
      {% for post in site.categories.german %}
        {% include article-item.html post=post %}
      {% endfor %}
    </div>

    <div class="col-half articles-list">
      {% for post in site.categories.russian %}
        {% include article-item.html post=post %}
      {% endfor %}
    </div>
</div>
