---
layout: default
---

<div>
<div>die Ringelrobbe</div>
<div>Кольчатая нерпа</div>
</div>

<div>
    <div>Deutsch</div>
    <div>
        <ul>
            {% for post in site.categories.deutsch %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
<div>

<div>
    <div>Русский<div>
    <div>
        <ul>
            {% for post in site.categories.russisch %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    <div>
</div>

