@import 'colormap';
@import 'base';

.articles-list-title {
  text-align: center!important;
}

.articles-list {
  .article-item {
    padding: $default-padding;
    border-radius: 4px;

    .date {
      border-right: solid 1px black;
      font-size: 1.2em;
      text-align: right;
      padding-left: 0;
    }

    .title {
      font-size: 1.2em;
      padding-right: 0;
    }

    .annotation {
      font-size: 0.9em;
      font-style: italic;
      font-weight: lighter;
      padding: 1em 0 0 0;
    }
  }
}
