@import 'colormap';
@import 'fonts';

$default-padding: 16px;


* {
  box-sizing: border-box;
  font-family: $RegularFont;
}

body {
  margin: 0;
  overflow-y: scroll;
}

main {
  margin: $default-padding 0;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: thin dotted $link-border-color;

  &:hover {
    color: $link-highlighted-color;
    border-color: $link-highlighted-color;
  }
}

blockquote {
  font-style: italic;
}

.container {
  max-width: 1024px;
  padding: 0 $default-padding;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;

  .col-half {
    padding: 0 $default-padding;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-1-5th {
    padding: 0 $default-padding;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-4-5th {
    padding: 0 $default-padding;
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-1-10th {
    padding: 0 $default-padding;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-9-10th {
    padding: 0 $default-padding;
    flex: 0 0 90%;
    max-width: 90%;
  }
}


$laptop-width: 1024px;
$tablet-width: 768px;


.laptop-visible { display: none; }
.tablet-visible { display: none; }
.mobile-visible { display: none; }

@media (min-width: $laptop-width) {
  .laptop-visible {
    display: block;
  }
}

@media (min-width: $tablet-width) and (max-width: $laptop-width - 1) {
  .tablet-visible {
    display: block;
  }
}

@media (max-width: $tablet-width - 1) {
  .mobile-visible {
    display: block;
  }
}
