$title-color: #000;
$date-color: #000;
$text-color: #000;

$link-color: #000;
$link-highlighted-color: #a22;

$item-highlighted-color: #eee;

$header-text-color: #fff;
$header-background-color: #003;
