@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300;1,400&family=Playfair+Display:wght@400;700&family=Yeseva+One&display=swap');

$HeaderTitleFont: 'Yeseva One';
$TitleFont: 'Playfair Display';
$RegularFont: 'Montserrat';
