@font-face {
  font-family: 'TitleFont';
  src: url('/assets/fonts/Staatliches/Staatliches-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TitleFont1';
  src: url('/assets/fonts/Oswald/Oswald-VariableFont_wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TitleFont2';
  src: url('/assets/fonts/Spectral_SC/SpectralSC-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
