@import 'base';
@import 'utils';
@import 'fonts';

header {
  color: $header-text-color;
  padding: 1em;
  background-color: $header-background-color;

  // position: sticky;
  // top: 0;

  .title-container {
    padding: 1em 0;

    .title {
      font-size: 3em;

      &:not(:last-child) {
        display: flex;
        justify-content: flex-end;

        &::after {
          content: '';
          position: relative;
          left: $default-padding;
          min-width: 1px;
          height: 100%;
          background-color: $header-text-color;
        }
      }
    }
  }

  a {
    color: $header-text-color;
    padding: 0.5em;
    border-radius: 1em;

    transition-property: background-color;
    transition-duration: 0.2s;

    &:hover {
      padding: 0.5em;
      background-color: $header-text-color;
      color: $header-background-color;
    }
  }

  li {
    display: flex;
    &:not(:last-child) {
      align-content: center;
      align-items: center;

      &::after {
        content: '';
        position: relative;
        left: 4px;
        min-width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: $header-text-color;
      }
    }
  }
}
