.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.selectable {
  transition-property: background-color;
  transition-duration: 0.3s;

  &:hover {
    background-color: $item-highlighted-color;
    a {
      color: $link-highlighted-color;
    }
  }
}

.post-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  p {
    font-size: 1.2rem;
  }
}
