<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>

    <header>
      <div class="header">
        <div class="german-header">{{ site.deutscher_name }}</div>
        <div class="header-divider"></div>
        <div class="russian-header">{{ site.russischer_name }}</div>
      </div>

      <nav>
        <div class="left-divider"></div>
        <ul>
          {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.link }}">
                {{ item.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="right-divider"></div>
      </nav>

    </header>

    <div class="container">
      {{ content }}
    </div>

  </body>

</html>
